.middle {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.bottom {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}
.square {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: black;
}

.square img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#question {
  width: 8000px;
  height: 200px;
  display: flex;
}

#cardRedSquare {
  background-image: url("images/redsquare.png");
  background-size: cover;
}

#cardRedCircle {
  background-image: url("images/redcircle.png");
  background-size: cover;
}

#cardRedTriangle {
  background-image: url("images/redtriangle.png");
  background-size: cover;
}

#cardBlueSquare {
  background-image: url("images/bluesquare.png");
  background-size: cover;
}

#cardBlueCircle {
  background-image: url("images/bluecircle.png");
  background-size: cover;
}

#cardBlueTriangle {
  background-image: url("images/bluetriangle.png");
  background-size: cover;
}

#cardYellowSquare {
  background-image: url("images/yellowsquare.png");
  background-size: cover;
}

#cardYellowCircle {
  background-image: url("images/yellowcircle.png");
  background-size: cover;
}

#cardYellowTriangle {
  background-image: url("images/yellowtriangle.png");
  background-size: cover;
}
