/* .top {
  width: 600px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
} */

.middle {
  width: 600px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.bottom {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}
.square {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: black;
}

#question {
  width: 8000px;
  height: 200px;
  display: flex;
}

#eleven {
  background-image: url("images/redsquare.png");
  background-size: cover;
}

#twelve {
  background-image: url("images/redcircle.png");
  background-size: cover;
}

#thirteen {
  background-image: url("images/redtriangle.png");
  background-size: cover;
}

#fourteen {
  background-image: url("images/bluesquare.png");
  background-size: cover;
}

#fifteen {
  background-image: url("images/bluecircle.png");
  background-size: cover;
}

#sixteen {
  background-image: url("images/bluetriangle.png");
  background-size: cover;
}

#seventeen {
  background-image: url("images/yellowsquare.png");
  background-size: cover;
}

#eighteen {
  background-image: url("images/yellowcircle.png");
  background-size: cover;
}

#nineteen {
  background-image: url("images/yellowtriangle.png");
  background-size: cover;
}
